@font-face
{
    font-family: Ringbearer;
    src: url(../fonts/Ringbearer.ttf);
    font-weight: 400;
}

@font-face
{
    font-family: FlareSerif;
    src: url(../fonts/FlareSerif.ttf);
    font-weight: 400;
}

@font-face
{
    font-family: AcidRegular;
    src: url(../fonts/AcidRegular.ttf);
    font-weight: 300;
}

@font-face
{
    font-family: AcidMedium;
    src: url(../fonts/AcidMedium.ttf);
    font-weight: 400;
}