//Logo Font
@font-face
{
    font-family: Ringbearer;
    src: url(../fonts/Ringbearer.ttf);
    font-weight: 400;
}

//Nav Font
@font-face
{
    font-family: AveriaSerifLight;
    src: url(../fonts/AveriaSerifLibre-Light.ttf);
    font-weight: 300;
}

//Heading Font
@font-face
{
    font-family: AveriaSerifRegular;
    src: url(../fonts/AveriaSerifLibre-Regular.ttf);
    font-weight: 300;
}

//Body Font
@font-face
{
    font-family: CatamaranLight;
    src: url(../fonts/Catamaran-Light.ttf);
    font-weight: 300;
}

//Emphasis Body Font
@font-face
{
    font-family: CatamaranMedium;
    src: url(../fonts/Catamaran-Medium.ttf);
    font-weight: 300;
}
