@media #{$small-and-down}
{
    header
    {
        .brand-logo
        {
            font-size: 30px !important;
            width: 100%;
            text-align: center;
        }
        
        i
        {
            margin-top: 25px;
            margin-left: -20px;
            font-size: 32px !important;
        }
    }
    
    .sidenav
    {
        li
        {
            a
            {
                font-size: 20px !important;    
            }
        }
    }
    
    .hero-img
    {
        margin-top: 24px !important;
    }
    
    h2
    {
        font-size: 30px !important;
    }
    
    .tile
    {
        margin-bottom: 15px;
    }
    
    .drinks-container
    {
        text-align: center;
        
        .cocktail, .shooter, .bomb
        {
            width: 230px !important;
            margin-top: 0px !important;
            margin-bottom: 30px !important;
        }
    }
    
    .collapsible-body
    {
        .flow-text
        {
            text-align: left;
        }
    }
    
    form
    {
        .submit
        {
            text-align: center;
        }
    }
    
    footer
    {
        h4, li, .social
        {
            text-align: center;
        }
        
        .follow
        {
            margin-top: 40px;
        }
    }
}