nav
{
    height: 100px;
    line-height: 100px;
    margin-bottom: -20px;
    color: $color-white;
    
    li
    {
        a
        {
            font-family: $font-nav;
            @include fontSize(25px);
        }
        
        &:hover
        {
            a
            {
                color: $color-black;
            }
        }
    }
    
    .brand-logo
    {
        @include fontSize(60px);
        font-family: $font-logo;
        
        &:hover
        {
            color: $color-black;
        }
        
        img
        {
            width: 180px;
            padding: 10px;
        }
    }
}