.drinks-container
{   
    margin-top: 20px;
    
    h4
    {
        margin-left: 20px;
    }
    
    .cocktail
    {
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .shooter
    {
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .bomb
    {
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}