.happy-hour
{
    margin-top: 40px;
    
    .card
    {
        background-color: $color-brown;
    }
}

.offers-card
{
    .card-image
    {
        width: 200px;
    }
    
    .card-content
    {
        .card-title
        {
            color: $color-red;
            font-family: $font-header;
            @include fontSize(30px);
        }
        
        p
        {
            @include fontSize(20px);
        }
    }
}