@media #{$medium-and-down}
{
    header
    {
        .brand-logo
        {
            font-size: 50px !important;
            width: 100%;
            text-align: center;
        }
        
        i
        {
            margin-top: 18px;
            font-size: 45px !important;
        }
    }
    
    h2
    {
        font-size: 40px !important;
    }
    
    .tile
    {
        margin-bottom: 25px;
    }
    
    .cocktail, .shooter, .bomb
    {
        width: 280px !important;
    }
}