// Fonts
$font-logo: "Ringbearer", cursive;
$font-nav: "AveriaSerifLight", serif;
$font-header: "AveriaSerifRegular", serif;
$font-body-regular: "QuicksandRegular", sans-serif;
$font-body-medium: "QuicksandMedium", sans-serif;

//Colours
$color-black: #000000;
$color-grey: #D8D8D8;
$color-white: #FFFFFF;
$color-red: #B71C1C;
$color-brown: #B4804B;