// Fonts
$font-logo: "Ringbearer", cursive;
$font-nav: "AveriaSerifLight", serif;
$font-header: "AveriaSerifRegular", serif;
$font-body-light: "CatamaranLight", sans-serif;
$font-body-medium: "CatamaranMedium", sans-serif;

//Colours
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #D8D8D8;
$color-maroon: #B71C1C;
$color-brown: #723E30;