// Fonts
$font-logo: "Ringbearer", cursive;
$font-nav: "AveriaSerifLight", serif;
$font-header: "AveriaSerifRegular", serif;
$font-body: "Quicksand", sans-serif;

//Colours
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #D8D8D8;
$color-red: #B71C1C;
$color-brown: #B4804B;